<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="postForm"  (ngSubmit)="onAddPost()" *ngIf="!isLoading">
        <mat-form-field>
            <mat-label><b>Post Title</b></mat-label>
            <input matInput 
                type="text"
                formControlName="title" >
            <mat-error *ngIf="postForm.get('title')?.invalid">Please enter a valid title to post.</mat-error>
                <!-- <mat-error> {{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>
        <div class="filePicker">
            <button mat-button type="button" 
                (click)="imagePicker.click()"
                (change)="onFileChange($event)">
                    Add Image
            </button>
            <input type="file" #imagePicker>
        </div>
        <div class="image-preview" *ngIf="imagePreviewUrl !== '' && imagePreviewUrl && postForm.get('image')?.valid">
            <img [src]="imagePreviewUrl" [alt]="postForm.value.title">
        </div>
        <mat-form-field>
            <mat-label><b>Post Content</b></mat-label>
            <textarea matInput 
                rows="7"  
                formControlName="content">
            </textarea>
            <mat-error *ngIf="postForm.get('content')?.invalid">Please enter a valid content to add new post.</mat-error>
            <!-- <mat-error> {{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>
        <mat-card-actions align="end">
            <button 
                mat-raised-button 
                color="primary"
                type="submit"><b>SAVE POST</b></button>
        </mat-card-actions>
    </form>
    <!-- <h3 *ngIf="responseMessage !== ''">{{ responseMessage }}</h3> -->
</mat-card>

    
