<mat-card>
    <form #postForm="ngForm" (ngSubmit)="onAddPost(postForm)">
        <mat-form-field>
            <mat-label><b>Post Title</b></mat-label>
            <input matInput 
                type="text"
                name="title" 
                ngModel
                required
                minlength="7"
                #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a valid title to post.</mat-error>
                <!-- <mat-error> {{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <mat-label><b>Post Content</b></mat-label>
            <textarea matInput 
                rows="7"  
                name="content"
                ngModel
                required
                #content="ngModel">
            </textarea>
            <mat-error *ngIf="content.invalid">Please enter a valid content to add new post.</mat-error>
            <!-- <mat-error> {{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>
        <mat-card-actions align="end">
            <button 
                mat-raised-button 
                color="primary"
                type="submit"><b>SAVE POST</b></button>
        </mat-card-actions>
    </form>
    <!-- <h3 *ngIf="responseMessage !== ''">{{ responseMessage }}</h3> -->
</mat-card>

    
