<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading" >
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{post.title}}
        </mat-expansion-panel-header>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                    <mat-card-title>{{ post.title }}</mat-card-title>
                <img mat-card-xl-image src={{post.imagePath}} >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                {{ post.content }}
            </mat-card-content>
          </mat-card>
        <mat-action-row>
            <a mat-button [routerLink]="['/edit', post._id]" color="primary">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(post?._id!)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<h3 class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No Posts Available!</h3>